NEXT_PUBLIC_AGORA_APP_ID=AGORA_APP_ID
NEXT_PUBLIC_AGORA_CUSTOMER_ID=AGORA_CUSTOMER_ID
NEXT_PUBLIC_AGORA_CUSTOMER_SECRET=AGORA_CUSTOMER_SECRET
NEXT_PUBLIC_OPENAI_API_KEY=OPENAI_API_KEY
NEXT_PUBLIC_AZURE_TTS_KEY=AZURE_TTS_KEY
NEXT_PUBLIC_AZURE_TTS_VOICE=AZURE_TTS_VOICE
NEXT_PUBLIC_AI_ASSISTANT_UID=AI_ASSISTANT_UID
NEXT_PUBLIC_ASR_LANGUAGE=ASR_LANGUAGE
NEXT_PUBLIC_LLM_URL=http://ec2-18-236-128-162.us-west-2.compute.amazonaws.com:8000 # Custom LLM URL

